<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>
<body>
    Which chat room would you like to enter? type group name for group chat or
        enter friend's name for individual chat<br>

    <input type="radio" name="chat"  id="group" value="group"> group<br>
    <input type="radio" name="chat"  id="individual" value="individual"> personal<br>
    <input type="text" id="name" name="chat"><br>
    <button type="button" onclick=" checkButton()"> Submit </button>

    {{ user.username|json_script:"user" }}
    <script>
        
    function checkButton() {
        const username = JSON.parse(document.getElementById('user').textContent);

        var groupValue = document.getElementById("group")
        var groupName =document.getElementById("name").value
        if(groupValue.checked) {
            window.location.pathname = '/chat/' + groupName + '/';

        }
        else {
            let pathData=[username,groupName]
            pathData.sort()
            data1=pathData[0]
            data2=pathData[1]
            window.location.pathname = '/chat/' +data1 + '.' + data2 + '/';
        }
    }

    </script>
    </body>
</html>