<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
    </head>
    <body>
            <h1>User Registration</h1>
            <form method="post">

                <div class="container">
                    <label>firstname</label>
                    <input type="text" name="first_name" placeholder="Firstname" required id="first_name">
                    <label>lastname</label>
                    <input type="text" name="last_name" placeholder="lastname" required id="last_name">
                    <label for="username"> Username </label>
                    <input type="text" placeholder="Enter Username" name="username" required id="username">
                    <label for="password">Password</label>
                    <input type="password" placeholder="Enter your password" name="password" required id="password">
                    <label>Email</label>
                    <input type="text" name="email"placeholder="email" required id="email">
                    <button type="submit">Register</button>
                    <button type="reset" class="resetButton">Reset</button>
                </div>

            </form>
    </body>
</html>


